/**==================== PC ===============*/
@media screen and (max-width: 1450px) {
  /***========================= Store Ads =========================**/
  .store-ads .store-ads-top .store-logo {
    padding: 0;
  }
}
@media screen and (max-width: 1400px) {
  .container {
    width: var(--container-width-xl);
  }
}

@media screen and (max-width: 1250px) {
  /**==================== Hero ===============*/

  .hero > div {
    width: 100%;
  }

  .hero > div:nth-child(2) {
    margin-bottom: 2rem;
    order: 0 !important;
  }
}
@media screen and (max-width: 1200px) {
  .container {
    width: var(--container-width-lg);
  }
}
/**==================== Tablet ===============*/
@media screen and (max-width: 1150px) {
}
@media screen and (max-width: 1100px) {
  /**==================== Header ===============*/

  .menu-shadow.active {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.2;
    background-color: #303030;
    z-index: 98;
  }
  /**Header Top End*/
  .site-header .header-top .top-end {
    width: 50%;
  }

  .site-header .header-top .top-end .top-btn {
    width: 25%;
  }
  /**Header*/
  .site-header {
    height: 4.6rem;
  }
  .site-header .header-top {
    height: 100%;
  }
  .site-header .header-top .top-middle {
    align-items: center;
    display: grid;
  }

  .site-header .header-top .top-middle .main-menu .main-menu-header {
    padding: 1rem 0.5rem;
    font-size: 1.5rem;
    display: flex;
  }
  .site-header .header-top .top-middle .main-menu .main-menu-header i {
    cursor: pointer;
  }
  .site-header .header-top .top-middle .main-menu .main-menu-header i {
    color: var(--red3-color);
  }
  .site-header .header-top .top-middle .main-menu {
    position: absolute;
    z-index: 99;
    top: 0;
    right: 0;
    bottom: 0;
    height: initial;
    left: 2rem;
    max-width: 20rem;
    transform: translate(100%, 0);
    transition: var(--transition);
  }
  .site-header .header-top .top-middle .main-menu.active {
    transform: translate(0, 0);
  }
  .site-header .header-top .top-middle .main-menu ul {
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 0;
    transform: translate(0, 0);
  }

  .site-header .header-top .top-middle .main-menu ul li {
    width: 100%;
    flex-grow: 1;
    text-align: right;
  }

  .site-header .header-top .top-middle .main-menu ul li:not(:last-child) {
    border-left: 1px solid transparent;
    border-bottom: 1px solid var(--gray11-color);
  }

  .site-header .header-top .top-middle .main-menu ul li a {
    padding: 1rem;
    font-size: 1rem;
    display: block;
  }

  .site-header .header-top .top-middle .main-menu ul li a:hover {
    color: var(--red3-color);
    background-color: var(--gray3-color);
  }

  .site-header .header-top .top-end .burgers {
    display: block;
  }
  .site-header .header-top .top-end .top-btn.burgers {
    display: flex;
  }

  /* *Header Bottom */
  .site-header .header-bottom .service-nav {
    position: absolute;
    top: 0;
    left: 2rem;
    right: 0;
    bottom: 0;
    max-width: 20rem;
    background-color: var(--gray3-color);
    z-index: 99;
    transform: translate(100%, 0);
    transition: var(--transition);
  }
  .site-header .header-bottom .service-nav.active {
    transform: translate(0, 0);
  }
  .site-header .header-bottom .service-nav ul {
    display: flex;
    position: sticky;
    top: 0;
    flex-direction: column;
  }

  .site-header .header-bottom .service-nav ul li {
    width: 100%;
    flex-grow: initial;
    text-align: center;
    border-left: none;
    border-bottom: 1px solid var(--gray11-color);
  }

  .site-header .header-bottom .service-nav ul li a {
    display: block;
    padding: 1rem;
    font-size: 1rem;
  }

  .site-header .header-bottom .service-nav ul li:hover a {
    color: var(--red3-color);
    background-color: var(--white-color);
  }

  .site-header .header-bottom .service-nav ul li.service-menu-header {
    display: flex;
    color: var(--gray-color);
    padding: 1rem;
    font-size: 1.5rem;
  }
  .site-header .header-bottom .service-nav ul li.service-menu-header i {
    cursor: pointer;
    color: var(--red3-color);
  }
  /**==================== Brand products  ===============*/
  .brand-products,
  .best-products {
    margin: 3rem 0 2rem;
  }
  .right-label {
    writing-mode: initial;
    right: 0;
    top: 0;
    transform: translate(0, -50%);
  }

  .archive-link {
    writing-mode: initial;
    top: initial;
    left: 0;
    bottom: 0;
    transform: translate(0, 50%);
    font-size: 1rem;
  }
  .archive-link:hover {
    letter-spacing: 1px;
  }
}

@media screen and (max-width: 992px) {
  .container {
    width: var(--container-width-md);
  }

  /***========================= Store Ads =========================**/
  .store-ads .store-ads-top .logo {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-5%, -20%);
  }
  .store-ads .store-ads-top .logo .description {
    font-size: 1rem;
  }
}
/**==================== Phone ===============*/

@media screen and (max-width: 767px) {
  .container {
    width: var(--container-width-sm);
  }

  /**==================== Header ===============*/

  .site-header {
    height: auto;
  }
  /* *Header Top Middle Search */
  .site-header .header-top .top-middle {
    width: 0;
  }
  .site-header .header-top .top-middle .header-search {
    display: none;
  }
  .site-header .header-bottom .header-search {
    display: flex;
    height: 100%;
  }
  .site-header .header-bottom .header-search input {
    height: 3rem;
  }
  /* *Header Top End */
  .site-header .header-top .top-end {
    width: 100%;
  }

  /**==================== Hero ===============*/
  /**Hero Slider*/

  .hero .main-slider.swiper {
    height: 40vh;
  }
  /***========================= Store Ads =========================**/
  .store-ads .store-ads-bottom {
    flex-direction: column;
    row-gap: 1rem;
  }
  .store-ads .store-ads-bottom p {
    text-align: center;
  }
  .store-ads .store-ads-bottom .build-your-store img {
    position: static;
    transform: translate(0, 0);
  }
  .store-ads .store-ads-bottom .build-your-store .text-bottom,
  .text-top {
    text-align: right;
  }
  /**==================== Last products  ===============*/
  /**Products Tab*/
  .last-products > div {
    margin-bottom: 2rem;
  }
  .last-products .products-tab ul a {
    font-size: 1rem;
  }
}
@media screen and (max-width: 576px) {
  /**==================== Header ===============*/

  /* *Header Top End */
  .site-header .header-top .top-end .top-btn p {
    display: none;
  }
  /* *Header Top Middle Search */
  .site-header {
    height: auto;
  }
  .site-header .header-top {
    display: flex;
    flex-direction: column;
  }

  /**==================== Hero ===============*/
  /**Hero Slider*/

  .hero .main-slider.swiper {
    height: 35vh;
  }

  /**==================== Site Footer  ===============*/
  /** Footer Bottom */
  .site-footer .footer-bottom .social-media a {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 490px) {
  /**==================== Hero ===============*/
  /**Hero Slider*/

  .hero .main-slider.swiper {
    height: 30vh;
  }
  /**==================== ADS ===============*/
  .ads .ads-image {
    width: 100%;
  }
  .ads .ads-image img {
    width: 100%;
  }
  /**==================== ADS Ends ===============*/
}

@media screen and (max-width: 400px) {
  /**==================== Hero ===============*/
  /**Hero Slider*/

  .hero .main-slider.swiper {
    height: 25vh;
  }
}
